<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="./angular.min.js"></script>
  <script src="./script.js"></script>
</head>
<body ng-app="myModule">
  <table ng-controller="dataController">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Gender</th>
        <th>Salary</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="employee in employees">
        <td> {{ employee.firstName }} </td>
        <td> {{ employee.lastName }} </td>
        <td> {{ employee.gender }} </td>
        <td> {{ employee.salary }} </td>
      </tr>
    </tbody>
  </table>
  <hr/>
  <br/>
  <div ng-controller="countriesController">
    <ul >
      <li ng-repeat="country in countries">
        {{country.name}}
        <ul >
          <li ng-repeat='city in country.cities'>{{city.name}}</li>
        </ul>
      </li>
    </ul>

  </div>

</body>
</html>