<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="./angular.min.js"></script>
  <script src="./script.js"></script>
  <style>
    table {
    border-collapse: collapse;
    font-family:Arial;
    }

    td {
        border: 1px solid black;
        padding: 10px;
        text-align: center;
    }

    th {
        border: 1px solid black;
        padding: 5px;
        text-align: left;
    }
  </style>
</head>
<body ng-app="myModule">
  <div ng-controller="dataController">
    Rows to display: <input type="number" ng-model="rowCount" step="1" max="5" min="0" />
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Date of Birth</th>
          <th>Gender</th>
          <th>Salary (number filter)</th>
          <th>Salary (currency filter)</th>
        </tr>
      </thead>
      <tbody>
        <!-- limitTo: model : startingPosition -->
        <tr ng-repeat="employee in employees | limitTo: rowCount">
          <td>{{ employee.name | uppercase }}</td>
          <td>{{ employee.dateOfBirth | date: "dd/MM/yyyy" }}</td>
          <td>{{ employee.gender }}</td>
          <td>{{ employee.salary | number: 2}}</td>
          <!-- currency: "sign of currency" : "precision" -->
          <td>{{ employee.salary | currency: "£" : 1 }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</body>
</html>