<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="./angular.min.js"></script>
  <script src="./script.js"></script>
  <style>
    table {
    border-collapse: collapse;
    font-family:Arial;
    }

    td {
        border: 1px solid black;
        padding: 10px;
        text-align: center;
    }

    th {
        border: 1px solid black;
        padding: 5px;
        text-align: left;
    }
  </style>
</head>
<body ng-app="myModule">
  <div ng-controller="dataController">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Likes</th>
          <th>Dislikes</th>
          <th>Like/Dislike</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="technology in technologies">
          <td>{{ technology.name }}</td>
          <td>{{ technology.likes }}</td>
          <td>{{ technology.dislikes }}</td>
          <td>
            <button ng-click="incrementLikes(technology)">
              like
            </button>
            <button ng-click="incrementDislikes(technology)">
              dislike
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</body>
</html>